[Unit]
Description=Start/Stop the urserver

[Service]
Type=oneshot
User=root
KillMode=none
RemainAfterExit=yes
ExecStart=/opt/urserver/urserver --daemon
ExecStop=/usr/bin/pkill -9 urserver
TimeoutSec=300

[Install]
WantedBy=multi-user.target
