ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02e6", TAG+="systemd", ENV{SYSTEMD_WANTS}="xow.service"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="02fe", TAG+="systemd", ENV{SYSTEMD_WANTS}="xow.service"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="091e", TAG+="systemd", ENV{SYSTEMD_WANTS}="xow.service"