[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/librespot-org/librespot-java
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/java -jar /opt/librespot/librespot-player.jar --conf-file=/etc/librespot-java/config.toml
Restart=always
RestartSec=12

[Install]
WantedBy=default.target

